# Project Question 1

# Data Cleaning & Exploring the Data

## 1.1 Look at the features in the dataset. What does lot type mean? Hint: Note that data.gov.sg gets its data from the Land Transport Authority (LTA). Try searching for the LTA Datamall API documentation.

### lot_type means the type of lots:
C for cars

H for heavy vehicles

Y for motorcycles

## 1.2 Try making an API call for the data from a single specified date & time. Then, do the same thing for the next second of the initially chosen date & time. Notice that “update time” is unchanged. Carry out and document a systematic approach to approximate the frequency at which the data values are updated.

### the example form teacher

In [1]:
import requests
import json
import pandas as pd
import datetime as dt
import os
import numpy as np

In [2]:
# Change these values for different dates
year = "2022"
month = "4"
day = "12"
hour = "12"
minute = "30"
second = "0"

site = f'https://api.data.gov.sg/v1/transport/carpark-availability?date_time={year}-{month.zfill(2)}-{day.zfill(2)}T{hour.zfill(2)}%3A{minute.zfill(2)}%3A{second.zfill(2)}'
print(site)
response_API = requests.get(site)
data = response_API.text
data = json.loads(data)
# print(data["items"][0])
timestamp = data["items"][0]["timestamp"]
print(timestamp)

data = data["items"][0]["carpark_data"]
with open("EE4211data.json", 'w') as fp:
    json.dump(data, fp)
df = pd.read_json("EE4211data.json")
df

https://api.data.gov.sg/v1/transport/carpark-availability?date_time=2022-04-12T12%3A30%3A00
2022-04-12T12:29:27+08:00

,carpark_info,carpark_number,update_datetime
0,"[{'total_lots': '105', 'lot_type': 'C', 'lots_...",HE12,2022-04-12T12:12:32
1,"[{'total_lots': '583', 'lot_type': 'C', 'lots_...",HLM,2022-04-12T12:12:42
2,"[{'total_lots': '329', 'lot_type': 'C', 'lots_...",RHM,2022-04-12T12:12:32
3,"[{'total_lots': '97', 'lot_type': 'C', 'lots_a...",BM29,2022-04-12T12:12:32
4,"[{'total_lots': '96', 'lot_type': 'C', 'lots_a...",Q81,2022-04-12T12:12:32
...,...,...,...
1961,"[{'total_lots': '679', 'lot_type': 'C', 'lots_...",B65M,2022-04-12T12:11:58
1962,"[{'total_lots': '5', 'lot_type': 'C', 'lots_av...",B65L,2022-04-12T12:11:58
1963,"[{'total_lots': '306', 'lot_type': 'C', 'lots_...",BE3,2022-04-12T11:30:52
1964,"[{'total_lots': '195', 'lot_type': 'C', 'lots_...",BE3R,2022-04-12T11:30:52
1965,"[{'total_lots': '249', 'lot_type': 'C', 'lots_...",B8B,2022-04-12T12:11:45

In [3]:
for heading in ("total_lots","lot_type","lots_available"):
#     print(heading)
    df[heading] = df["carpark_info"].apply(lambda x: x[0][heading])
df = df.drop(["carpark_info"], axis=1)
df

     carpark_number      update_datetime total_lots lot_type lots_available
0              HE12  2022-04-12T12:12:32        105        C              0
1               HLM  2022-04-12T12:12:42        583        C              0
2               RHM  2022-04-12T12:12:32        329        C            106
3              BM29  2022-04-12T12:12:32         97        C              1
4               Q81  2022-04-12T12:12:32         96        C              0
...             ...                  ...        ...      ...            ...
1961           B65M  2022-04-12T12:11:58        679        C            499
1962           B65L  2022-04-12T12:11:58          5        C              0
1963            BE3  2022-04-12T11:30:52        306        C            148
1964           BE3R  2022-04-12T11:30:52        195        C            150
1965            B8B  2022-04-12T12:11:45        249        C            172

[1966 rows x 5 columns]

## turn it into function

In [4]:
# grab certain time data
def timegraber(lstime = None):
    
    # input args processing
    if lstime is None:
        year = 2022
        month = 4
        day = 12
        hour = 12
        minute = 30
        second = 0 
    elif len(lstime) != 6:
        raise IndexError("lenght of list expects 6")
    else:
        year = lstime[0]
        month = lstime[1]
        day = lstime[2]
        hour = lstime[3]
        minute = lstime[4]
        second = lstime[5]
        
    # generate time
    Ddate = dt.datetime(year,month,day,hour,minute,second)
    # concatenate datetime
    date_time = f'date_time={str(Ddate.year)}-{str(Ddate.month).zfill(2)}-{str(Ddate.day).zfill(2)}T{str(Ddate.hour).zfill(2)}%3A{str(Ddate.minute).zfill(2)}%3A{str(Ddate.second).zfill(2)}'
    
    site = f'https://api.data.gov.sg/v1/transport/carpark-availability?{date_time}'
#     print(site)
    response_API = requests.get(site)
    data = response_API.text
    data = json.loads(data)
    timestamp = data["items"][0]["timestamp"]
    print(timestamp)
    
    filename = f'EE4211carpark_date_{date_time}.json'
    # do not repeat download and write data
    if os.path.exists(filename) == False:
        # file not exist
        data = data["items"][0]["carpark_data"]
        with open(filename, 'w') as fp:
            json.dump(data, fp)
            
    # read file
    df = pd.read_json(filename)
    for heading in ("total_lots","lot_type","lots_available"):
        df[heading] = df["carpark_info"].apply(lambda x: x[0][heading])
    df = df.drop(["carpark_info"], axis=1)
    
    return df

In [5]:
time1 = [2022,4,12,12,30,0]
df1 = timegraber(time1)

2022-04-12T12:29:27+08:00

In [6]:
df1

     carpark_number      update_datetime total_lots lot_type lots_available
0              HE12  2022-04-12T12:12:32        105        C              0
1               HLM  2022-04-12T12:12:42        583        C              0
2               RHM  2022-04-12T12:12:32        329        C            106
3              BM29  2022-04-12T12:12:32         97        C              1
4               Q81  2022-04-12T12:12:32         96        C              0
...             ...                  ...        ...      ...            ...
1961           B65M  2022-04-12T12:11:58        679        C            499
1962           B65L  2022-04-12T12:11:58          5        C              0
1963            BE3  2022-04-12T11:30:52        306        C            148
1964           BE3R  2022-04-12T11:30:52        195        C            150
1965            B8B  2022-04-12T12:11:45        249        C            172

[1966 rows x 5 columns]

In [7]:
time2 = [2022,4,12,12,31,0]
df2 = timegraber(time2)

2022-04-12T12:30:27+08:00

In [8]:
df2

     carpark_number      update_datetime total_lots lot_type lots_available
0              HE12  2022-04-12T12:12:32        105        C              0
1               HLM  2022-04-12T12:12:42        583        C              0
2               RHM  2022-04-12T12:12:32        329        C            106
3              BM29  2022-04-12T12:12:32         97        C              1
4               Q81  2022-04-12T12:12:32         96        C              0
...             ...                  ...        ...      ...            ...
1961           B65M  2022-04-12T12:11:58        679        C            499
1962           B65L  2022-04-12T12:11:58          5        C              0
1963            BE3  2022-04-12T11:30:52        306        C            148
1964           BE3R  2022-04-12T11:30:52        195        C            150
1965            B8B  2022-04-12T12:11:45        249        C            172

[1966 rows x 5 columns]

In [10]:
# Change these values for different dates
year = 2022
month = 4
day = 12
hour = 12
minute = 30
second = 0

# generate time
Ddate = dt.datetime(year,month,day,hour,minute,second)

# step
deltat = dt.timedelta(seconds = 1)
loop = 0

# update data
while True:
    loop += 1
    
    # concatenate datetime
    date_time = f'date_time={str(Ddate.year)}-{str(Ddate.month).zfill(2)}-{str(Ddate.day).zfill(2)}T{str(Ddate.hour).zfill(2)}%3A{str(Ddate.minute).zfill(2)}%3A{str(Ddate.second).zfill(2)}'
    
    site = f'https://api.data.gov.sg/v1/transport/carpark-availability?{date_time}'
    response_API = requests.get(site)
    data = response_API.text
    data = json.loads(data)
    timestamp = data["items"][0]["timestamp"]
    print(timestamp)
    
    # compare timestamp and break when data updated
    if loop == 1 or timestamp == ltimestamp:
        # add delta time
        Ddate = Ddate + deltat
        # store last timestamp
        ltimestamp = timestamp
    else:
        break

2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:29:27+08:00
2022-04-12T12:30:27+08:00

In [11]:
# Change these values for different dates
year = 2022
month = 4
day = 13
hour = 12
minute = 30
second = 0

# generate time
Ddate = dt.datetime(year,month,day,hour,minute,second)

# step
deltat = dt.timedelta(minutes = 1)
loop = 0

# update data
while True:
    loop += 1
    
    # concatenate datetime
    date_time = f'date_time={str(Ddate.year)}-{str(Ddate.month).zfill(2)}-{str(Ddate.day).zfill(2)}T{str(Ddate.hour).zfill(2)}%3A{str(Ddate.minute).zfill(2)}%3A{str(Ddate.second).zfill(2)}'
    
    site = f'https://api.data.gov.sg/v1/transport/carpark-availability?{date_time}'
    response_API = requests.get(site)
    data = response_API.text
    data = json.loads(data)
    timestamp = data["items"][0]["timestamp"]
    print(timestamp)
    
    # compare timestamp and break when data updated
    if loop == 1 or timestamp == ltimestamp:
        # add delta time
        Ddate = Ddate + deltat
        # 
        ltimestamp = timestamp
    else:
        
        data_new = data["items"][0]["carpark_data"]
        with open("EE4211data_new.json", 'w') as fp:
            json.dump(data_new, fp)
        df_new = pd.read_json("EE4211data_new.json")
        for heading in ("total_lots","lot_type","lots_available"):
            df_new[heading] = df_new["carpark_info"].apply(lambda x: x[0][heading])
        df_new = df_new.drop(["carpark_info"], axis=1)
        df_new
        break

2022-04-13T12:29:27+08:00
2022-04-13T12:30:27+08:00

### The Website API updating interval is 1 minute

In [12]:
# Change these values for different dates
year = 2022
month = 4
day = 12
hour = 12
minute = 30
second = 0

# generate time
Ddate = dt.datetime(year,month,day,hour,minute,second)

# step
deltat = dt.timedelta(minutes = 1)
loop = 0

# update data
while True:
    loop += 1
    
    # concatenate datetime
    date_time = f'date_time={str(Ddate.year)}-{str(Ddate.month).zfill(2)}-{str(Ddate.day).zfill(2)}T{str(Ddate.hour).zfill(2)}%3A{str(Ddate.minute).zfill(2)}%3A{str(Ddate.second).zfill(2)}'
    
    filename = f'EE4211carpark_date_{date_time}.json'
    # do not repeat download and write data
    if os.path.exists(filename) == False:
        # get API site
        site = f'https://api.data.gov.sg/v1/transport/carpark-availability?{date_time}'
        print(site)
        response_API = requests.get(site)
        data = response_API.text
        data = json.loads(data)
        
        # API may be timed out
        # when time out reget API
        if "message" in data:
            loop -= 1
            print("time out")
            continue
        
        # no timed out then get timestamp
        timestamp = data['items'][0]["timestamp"]
        # get carpark data
        carpark = data['items'][0]["carpark_data"]
        with open(filename, 'w') as fp:
            json.dump(carpark, fp)
   
    # read file
    df = pd.read_json(filename)
    # reconstuct the frame of data
    for heading in ("total_lots","lot_type","lots_available"):
        df[heading] = df["carpark_info"].apply(lambda x: x[0][heading])
    df = df.drop(["carpark_info"], axis=1)
    
    if loop == 1:
        # store the old df
        df_old = df.copy(deep = True)
        # add delta time
        Ddate = Ddate + deltat
        continue
    
    #
    # compare update_datetime and break when data updated
    #
    # compare the length of update time first
    update = False
    if len(df.update_datetime) == len(df_old.update_datetime):
        df3 = (df.update_datetime == df_old.update_datetime).any(axis = None)
    else:
        update = True
    
    # compare the value next
    if df3 == True and update == False:
        # add delta time
        Ddate = Ddate + deltat
        # store old df
        df_old = df.copy(deep = True)
        print(Ddate, df3)
    else:
        length = np.min([len(df.update_datetime),len(df_old.update_datetime)])
        # print the location of the different update time
        upt_diff = (df.update_datetime[0:length] != df_old.update_datetime[0:length])
        loc_up = upt_diff[upt_diff.values == True].index
        print('location of the upload',loc_up)
        print(df_old.update_datetime[loc_up],df.update_datetime[loc_up])
        break

2022-04-12 12:32:00 True
2022-04-12 12:33:00 True
2022-04-12 12:34:00 True
2022-04-12 12:35:00 True
2022-04-12 12:36:00 True
2022-04-12 12:37:00 True
2022-04-12 12:38:00 True
2022-04-12 12:39:00 True
2022-04-12 12:40:00 True
2022-04-12 12:41:00 True
2022-04-12 12:42:00 True
2022-04-12 12:43:00 True
2022-04-12 12:44:00 True
2022-04-12 12:45:00 True
location of the upload Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963],
           dtype='int64', length=1848)
0       2022-04-12T12:12:32
1       2022-04-12T12:12:42
2       2022-04-12T12:12:32
3       2022-04-12T12:12:32
4       2022-04-12T12:12:32
               ...
1959    2022-04-12T12:14:07
1960    2022-04-12T11:30:44
1961    2022-04-12T12:11:58
1962    2022-04-12T12:11:58
1963    2022-04-12T11:30:52
Name: update_datetime, Length: 1848, dtype: object 0       2022-04-12T12:43:02
1       2022-04-12T12:43:13
2       2022-04-12T12:43:02
3       2022-04-12T12:43:02
4       2022-04-12T12:43:03
               ...
1959    2022-04-12T12:42:35
1960    2022-04-12T12:42:35
1961    2022-04-12T11:52:50
1962    2022-04-12T11:52:50
1963    2022-04-12T12:39:08
Name: update_datetime, Length: 1848, dtype: object

### The carpark data updating interval is around 30 minutes